<% @articles.each do |article| %>
<h1>
	<%= link_to article.title, article_path(article) %>
</h1>

<hr>

<p>
	<%= raw article.text %>
</p>

<% if user_signed_in? %>
  <%= link_to 'New article', new_article_path %>
<% end %>

<% end %>

<%= will_paginate(@articles, renderer: BootstrapPagination::Rails) %>